header {
	
	color: yellow;
	font-family: courier;
	background-color: gray;
}
 main {
	 font-family: courier;
	 background-color: gray;
	 font-size: 35px;
	 color: yellow;
}
body {
	
	
	background-color: gray;
	
	
}
.abc {
	text-align: left;
	font-size: 110%;
    
}
h1 {
    text-align: center;
	
	
}
.nic {
	
	text-align: center;
	
}
footer {
	
	font-family: courier;
	background-color: gray;
	color: yellow;
	float: left;
	
	
}

a:omnie.html {
	
	color: gray;
	
}

a { 

color: yellow;

}
.test {
	
	
	text-align: center;
	
}
main {
 
 color: gray;
 background-color: yellow;
 }
 a:link {
 color: gray;
 
 
 }
 .fa {
  font-size: 50px;
 }
a:active {
    color: red;
}
a:visited {
    color: black;
}
p {
	
	color: yellow;
	font-size: 40px;
	
	
}

#watermark {
	
	text-align: center;
	font-size: 15px;
	
}

