h1 {
	text-align: center;
	color: yellow;
	
	
}
body {
	background-color: gray;
	font-family: courier;
	
}
main {
	background-color: yellow;
	color: gray;
	font-size: 24px;
	
}
p {
	
	text-align: center;
	
}